body{
    background-color: rgb(250, 240, 224);
}

.appel{
    padding-top: 20px;
    height: 50px;
    width: 100%;
    background-color: orange;
}

.prod{
    margin-bottom: 30px;
}

.sm{
    width: 30px;
    height: 30px;
}

.instagram{
    margin-left: -30%;
}

.spc{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.btn{
    width: 120px;
    background-color: orange;
    border-color: orange;
}

.inp{
    margin-left: 10px;
}

.prod{
    font-size: 300%;
    font-family: Segoe Script;
    margin-top: 50px;
    margin-bottom: 70px;
}

.copyright{
    margin-top: 20%;
}

.mama{
    margin-bottom: 10%;
    border-radius: 20%;
    width: 95%;
    background-color: antiquewhite;
}