<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</head>
<body>
    <center><div class="appel">Pour commander, Appelez nous au : 56 66 52 14 ☎️</div></center>

    <center><h3 class="prod"><%= produit %></h3></center
	<div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		Dropdown button
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		<li><a class="dropdown-item" href="#">Action</a></li>
		<li><a class="dropdown-item" href="#">Another action</a></li>
		<li><a class="dropdown-item" href="#">Something else here</a></li>
	  </ul>
	</div>
    <center><p class="">&copy; Tac Tac Delivery</p></center>

    <center>
        <table>
            <tr>
                <td>
                    <a href="https://www.instagram.com/"><img src="https://toppng.com/uploads/preview/ig-png-logo-svg-transparent-instagram-logo-png-gray-11562862657bh81afc1k3.png" class="sm instagram"></a>
                </td>
                <td>
                    <a href="https://www.facebook.com/"><img src="https://icon-library.com/images/facebook-icon-for-website/facebook-icon-for-website-16.jpg" class="sm fb"></a>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>